---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import Mark from "/assets/images/mark.webp";

const pageTitle = "About Me";

const skills = [
  {
    name: "HTML",
    icon: "",
    experience: "5 + years",
  },
  {
    name: "CSS",
    icon: "",
    experience: "5 + years",
  },
  {
    name: "JavaScript",
    icon: "",
    experience: "3 years",
  },
  {
    name: "React",
    icon: "",
    experience: "2 years",
  },
  {
    name: "Nextjs",
    icon: "",
    experience: "6 months",
  },
  {
    name: "Astro",
    icon: "",
    experience: "6 months",
  },
  {
    name: "WordPress",
    icon: "",
    experience: "5 + years",
  },
  {
    name: "Accessibility",
    icon: "",
    experience: "6 months",
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page container space-xl">
    <h1>About Me</h1>
    <main class="main centred">
      <div class="about-me__content">
        <section class="section-1">
          <div>
            <img class="mark-img" src={Mark} alt="Headshot of Mark Lawson" />
            <p>
              In 2006 I taught myself HTML and CSS then in 2007, along with my
              wife, I setup one of the first t-shirt printers in the UK to focus
              on using only ethically produced garments and eco-friendly
              printing practices. Over the following years I built several
              simple websites to promote our print business.
            </p>
          </div>
        </section>
        <section class="section-2">
          <div>
            <img class="mark-img2" src={Mark} alt="Headshot of Mark Lawson" />
            <p>
              When I started an online shop to promote my design range I first
              used Whilst these platforms allowed me to produce a decent
              ecommerce site I felt frustrated that I wasn&#39;t able to control
              every aspect of the build and would always delve into the code to
              try and change it.
            </p>
          </div>
        </section>
        <section class="section-3">
          <div>
            <img class="mark-img" src={Mark} alt="Headshot of Mark Lawson" />
            <p>
              Fast forward to 2020 and with the immense impact of the Covid
              pandemic, the business, like many, was greatly affected and I
              found myself re-evaluating my situation. I recognised that my love
              of web design and development was still strong. I&#39;d never been
              happier than when working on websites. So, since March 2020 I have
              become more engrossed in web development, studying through online
              courses and also a 12 week full stack bootcamp run by{" "}
              <a
                class="about-me__nology"
                href="https://nology.io/"
                target="_blank"
              >
                _nology
              </a>{" "}
              which ran from May - July 2022.
            </p>
          </div>
        </section>
        <p>
          Since completing the bootcamp I have been practising and expanding my
          knowledge of CSS, JavaScript and React and also learnt some basic
          Python and Django to expand my knowledge of backend development.
        </p>
        <p class="last-parag">
          My aim is to work in an ethical environment to use my newly developed
          skills for good. Working with not for profits, charities or
          environmental agencies.
        </p>
      </div>
      <h2 class="space-xl">Skills</h2>
      <ul class="skills-list space-l">
        {
          skills.map((skill) => (
            <li class="skills-list-item flex column">
              {skill.name} <span>{skill.experience}</span>
            </li>
          ))
        }
      </ul>
    </main>
  </div>

  <style lang="scss">
    p {
      margin-top: var(--space-l);
      max-width: 75ch;
    }

    section {
      display: flex;
      margin-top: var(--space-xl);
    }

    .page {
      max-width: 60rem;
    }

    .about-me__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .skills-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 1rem;

      &-item {
        padding: 0.5rem;
        border: 1px solid var(--clr-lilac);
        border-radius: 0.5rem;
        text-align: center;
        font-size: var(--step-2);
        font-weight: 700;
      }
    }

    span {
      font-size: var(--step-0);
      font-weight: 300;
      opacity: 0.8;
    }

    .last-parag::after {
      content: "";
      display: block;
      border-bottom: 1px solid var(--clr-lilac);
      padding: var(--space-l) 0;
    }

    .mark-img {
      float: left;
      margin-right: 4rem;
    }

    .mark-img2 {
      float: right;
      margin-left: 4rem;
    }

    img {
      width: clamp(6.25rem, 2.679rem + 17.857vw, 18.75rem);
      border-radius: 50%;
      shape-outside: circle(50%);
    }
  </style>
</BaseLayout>
