---
import projectData from "../data/project-data.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactMe from "../components/ContactMe.astro";
---

<BaseLayout>
  <section class="container space-xl">
    <section class="flex space-between align-center">
      <h1>Projects</h1>
      <span>
        <ContactMe />
      </span>
    </section>
    <div class="two-columns">
      {
        projectData.map(({ id, title, images, tech }) => (
          <div class="project  space-xl">
            <a href={`/project-detail/${id}`}>
              {" "}
              <img src={images.small} alt={title} />
            </a>
            <h3 class="space-s">{title}</h3>
            <ul class="flex" role="list">
              {tech.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
            <div class="project__links space-s flex space-around">
              <a href={`/project-detail/${id}`}>View Project</a>
              <a href="/">View Code</a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>

<style>
  h2 {
    text-align: center;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 760px) {
    .project {
      width: 45%;
    }

    .two-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
</style>
