---
const { platform, username } = Astro.props;
import { Icon } from "astro-icon";
const icon =
  platform === "github" ? "mdi:github" : "linkedin" ? "mdi:linkedin" : null;
---

<a href={`https://www.${platform}.com/${username}`}>
  <Icon name={icon} alt={platform} title={`Mark's ${platform} page`} />
</a>

<style>
  [astro-icon] {
    width: var(--step-2);
    height: auto;
  }
</style>
